body {
    font-family: 'Rosario', sans-serif;
}

#visualization {
    overflow: auto;
}

h1 {
    font-size: 50px;
    font-weight: 300;

}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}